h1{
    color:#AD8350 ;
    font-size: 4rem;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    text-align: center;
}
.container{
    height: 70vh;
    width: 120vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color: #764134;
    background-color: #AFA060;
}

#reset{
    padding:1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    
}

#msg{
    color: white;
    font-size:4rem ;
}

#new{
     padding:1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
}

.hide{
    display: none;
}
.hide1{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #764134;
    padding: 40px;
    border: 1px double rgb(255, 15, 15);
    color: #AD8350;
}
.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerInfo{
    height: 100vmin;
    width: 100vmin;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    gap: 8vmin;
    justify-content: center;
    background-color: #AD8350;
}

#player1{
    width: 200px;
    height: 50px;
    font-size: 30px;
    border-radius: 40%;
    text-align: center;
    box-shadow: 10px 10px 25px rgba(0,0,0,1) ;
    background-color: #764134;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#player2{width: 200px;
    height: 50px;
    font-size: 30px;
    border-radius: 40%;
    text-align: center;
    box-shadow: 10px 10px 25px rgba(0,0,0,1) ;
    background-color: #764134;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#start{
    width: 200px;
    font-size: 30px;
    text-align: center;
    background-color: #764134;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}

.XO{
    display: flex;
    gap: 1.5rem;
}
.para{
    padding: 5px;
    background-color: white;
    gap: 1vmin;
}
.hideBox{
    display: none;
}
